


                    /* GENERAL FORMATTING */



body, #body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    /* overflow: hidden; */
}
h1{
    margin: 0;
    padding: 0;
}
#body{
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



                    /* MAIN CONTAINER */



#main-con{
    background: linear-gradient(#e23636, #111);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}



                    /* LANDING PAGE MAIN CARD */



#main-card{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 2rem;
    max-width: 75%;
}
#main-card-img{
    max-width: 11rem;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0,0,0,0.2);
    margin-bottom: 1.5rem;
}
#main-card-banner{
    font-size: 1rem;
    width: 20rem;
    font-weight: 700;
    color: #fff;
}
#main-card-title{
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    margin: 1.5rem 0;
}
#emotify{
    font-size: 1.4rem;
    color: #fff;
}
.main-card-ul{
    /* background-color: pink; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 20rem;
}
.main-card-li-wrap{
    /* background-color: aqua; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3.5rem;
    margin-bottom: 0.5rem;
    border-radius: 25px;
}
.main-card-li{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 19rem;
    height: 3rem;
}
.main-card-li a{
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.72rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #444;
    height: 3.2rem;
    border-radius: 25px;
}
#main-card-li-signup a{
    background-color: #a71111;
    color: #eee;
}
#main-card a:link, 
#main-card a:visited,
#main-card a:active{
    text-decoration: none;
}
.main-card-li:hover{
    text-decoration: none;
    height: 3.2rem;
    width: 20rem;    
}
.main-card-li a:hover{
    font-size: 0.74rem;
}
#main-card-li-signup a:hover{
    background-color: #ba1212;
    color: #fff;
}
#main-card-login-con-wrap{
    /* background-color: salmon; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin-top: 1.5rem;
}
#main-card-log{
    font-size: 0.7rem;
    font-weight: 600;
    color: #fff;
}
.main-card-login-wrap{
    /* background-color: purple; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-top: 0.75rem;
}
#login-btn{
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 700;
}
#login-btn:hover{
    letter-spacing: 2px;
    font-size: 0.83rem;
}
#login-btn:link, 
#login-btn:visited,
#login-btn:active{
    color: #fff;
    text-decoration: none;
}



                    /* 602-1012 */



@media only screen and (min-width: 602px) and (max-width: 1012px){
    #body{
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/static/img/em1.JPG);
    }
    #main-con{
        width: 26rem;
        height: 40rem;
        border-radius: 8px;
    }
    #main-card-img{
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 15rem;
        border-radius: 8px;
        box-shadow: 0 0 100px rgba(0,0,0,0.2);
    }
    #main-card-banner{
        width: 20rem;
    }
    #main-card-title{
        margin-bottom: 2rem;
    }
    #emotify{
        font-size: 1.5rem;
    }
    #main-card-login-con-wrap{
        /* background-color: salmon; */
        flex-flow: row nowrap;
        margin-top: 0.75rem;
    }
    .main-card-login-wrap{
        margin-top: 0;
        margin-left: 0rem;
        width: 5rem;
    }


}

@media only screen and (min-width: 1013px){
    #body{
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/static/img/em1.JPG);
    }
    #main-con{
        width: 51rem;
        height: 26rem;
        border-radius: 8px;
    }
    #main-card{
        flex-flow: row nowrap;
    }
    #main-card-left-wrap{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: blue; */
        height: 20rem;
        width: 25rem;
        margin-right: 3rem;
    }
    #main-card-img{
        margin: 0;
        max-width: 19rem;
        border-radius: 8px;
        box-shadow: 0 0 100px rgba(0,0,0,0.2);
    }
    #main-card-right-wrap{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
        height: 20rem;
        width: 20rem;
    }
    #main-card-banner{
        width: 22rem;
    }
    #main-card-title{
        margin: 1rem 0;
    }
    #main-card-login-con-wrap{
        /* background-color: salmon; */
        flex-flow: row nowrap;
        margin-top: 1rem;
    }
    .main-card-login-wrap{
        margin-top: 0;
        margin-left: 0rem;
        width: 5rem;
    }
    
    
}


