


                    /* GENERAL FORMATTING */



body, #body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    /* overflow: hidden; */
}
h1, button{
    margin: 0;
    padding: 0;
}
#body{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
    padding: 2px;
  }
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 1px grey; */
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background: #111;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



                    /* MAIN CONTAINER */



#main-con{
    /* background-color: yellow; */
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}



                    /* LEFT CONTAINER */



/* TOP LEFT */

#left-con{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 100vh;
}
#top-left-con{
    /* background-color: aliceblue; */
    background-color: #fff;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 15rem;
    z-index: 2;
}
#logo-wrap{
    /* background: linear-gradient(#ff4a4a, #272727); */
    background-color: #1f1f1f;
    position: relative;
    display: flex;
    height: 4rem;
}
#icon{
    /* background-color: teal; */
    position: relative;
    display: flex;
    max-width: 5rem;
    height: 4rem;
    z-index: 3;
    /* margin-left: 0.45rem; */
}
#icon-title{
    /* background-color: teal; */
    position: relative;
    display: flex;
    height: 4rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}
#icon-title-link{
    text-decoration: none;
    color: #fff;
}
#icon-title-link:hover{
    cursor: pointer;
    color: #ff4a4a;
    transition: 0.25s ease-in-out;
}
#search-wrap{
    margin-top: 1rem;
}
.tl-wrap{
    /* background-color: yellow; */
    opacity: 0.9;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 3rem;
    padding-left: 1rem;
    color: #000000;
}
.tl-wrap:hover{
    cursor: pointer;
    color: #ff1515;
    opacity: 1;
    transition: 0.25s ease-in-out;
}
.tl-icon{
    /* background-color: purple; */
    position: relative;
    display: flex;
    padding-right: 0.5rem;
    opacity: 1;
    margin-left: 0.25rem;
}
.icon-img{
    max-width: 2rem;
    max-height: 2rem;
}
.tl-desc{
    /* background-color: bisque; */
    position: relative;
    display: flex;
    height: 3rem;
    font-weight: 700;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
}
#tl-border{
    align-self: center;
    margin-top: 1rem;
    width: 12em;
    border-bottom: solid 1px #ff4a4a;
    opacity: 0.3;
}


/* MIDLEFT */

#mid-left-con{
    /* background-color: rgb(0, 90, 169); */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 100%;
    overflow-y: auto;
}
#ml-create-playlist-wrap{
    /* background-color: purple; */
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    margin: 1rem 0 0.5rem -0.25rem;
}
#ml-plus-icon{
}
#ml-plus-desc{
}
#ml-playlist-wrap{
    /* background-color: rebeccapurple; */
    position: relative;
    display: flex;
    min-height: 2rem;
    align-items: center;
    margin: 0 0 0.35rem 0;
    padding-left: 1.5rem;
    color: #000;
    opacity: 0.75;
}
#ml-playlist-wrap:hover{
    cursor: pointer;
    background-color: #ff4a4a;
    color: #fff;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
}
.ml-playlist{
    font-size: 0.8rem;
    font-weight: 600;
}

#ml-create-playlist-btn{
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    border-style: none;
    padding-left: 0.5rem;
    width: 12rem;
}
#ml-create-playlist-btn:hover{
    cursor: pointer;
    background-color: #ff4a4a;
    color: #fff;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
}



/* BOT LEFT */

#bl-spacer{
    min-height: 11rem;
}
#bot-left-con{
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    min-height: 10rem;
    bottom: 0px;
    z-index: 3;
}
#bl-border{
    align-self: center;
    width: 12rem;
    border-top: solid 1px #ff4a4a;
    opacity: 0.3;
    margin-bottom: 2rem;
}
#bl-add-song-wrap{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
#bl-add-song-title{
    /* background-color: green; */
    color: #000;
    font-weight: 700;
}
#bl-add-song-btn-wrap{
    /* background-color: grey; */
    position: relative;
    display: flex;
    height: 3.5rem;
    width: 7.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#bl-add-song-btn{
    /* background-color: greenyellow; */
    background-color: #1f1f1f;
    color: rgb(255, 255, 255);
    border-style: none;
    font-weight: 700;
    height: 3rem;
    width: 7rem;
    border-radius: 50px;  
    opacity: 1;  
}
#bl-add-song-btn:hover{
    background-color: #ff4a4a;
    color: #fff;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    height: 3.2rem;
    width: 7.5rem;
    font-size: 0.85rem;
    opacity: 1;
}
.link-form{
    /* background-color: aqua; */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}
.link-btn-wrap{
}
.link-btn{
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    width: 13rem;
    border-style: none;
}
.link-btn:hover{
    cursor: pointer;
    color: #ff1515;
    opacity: 1;
    transition: 0.25s ease-in-out;
}


                    /* MID CONTAINER */



#mid-con{
    /* background-color: #ff4a4a; */
    /* background-color: rgb(22, 22, 22); */
    /* background: linear-gradient(#291111, #ff4a4a); */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
}
#top-mid-con{
    background-color: #1f1f1f;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    min-height: 4rem;
    color: #fff;
    font-weight: 600;
}
#mid-welcome{ 
    /* background-color: red; */
    width: 30rem;
    font-size: 1.1rem;
    margin-left: 2.5rem;
}
#top-mid-right-wrap{
    /* background-color: aqua; */
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
#mid-connect{ 
    margin-right: 3rem;
    font-size: 0.8rem;
}
#mid-logout{
    font-size: 0.8rem;
    justify-self: flex-end;
    margin-right: 2.5rem;
}
.mid-con-link{
    color: #fff;
    text-decoration: none;
}
.ball-spacer{
    background-color: #fff;
    border-radius: 50px;
    height: 0.35rem;
    width: 0.35rem;
    margin-right: 3rem;
}
.mid-con-link:hover{
    color: #ff4a4a;
    transition: 0.25s ease-in-out;
}

#mid-mid-con{
    /* background-color: rgb(255, 190, 215); */
    /* background: linear-gradient(#ff4a4a, #291111); */
    /* background: linear-gradient(#291111, #ff4a4a); */
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    color: #000;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}



/* BOT MID */

#bot-mid-con{
    /* background-color: #ff4a4a; */
    background-color: #111;
    /* background: linear-gradient(#ff4a4a, #6f3838); */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /* justify-content: center; */
    align-items: center;
    min-height: 12rem;
    /* margin: 1.5rem 1.5rem 1.5rem; */
    /* border-radius: 7px; */
}



                    /* BOT SONG APP */



#curr-playing-con{
    background-color: rgb(60, 60, 60);
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-self: flex-start;
    /* justify-content: center; */
    align-items: center;
    height: 5rem;
    width: 20rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}
.song-player-con{
    background-color: rgb(60, 60, 60);
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-self: flex-start;
    /* justify-content: center; */
    align-items: center;
    height: 5rem;
    margin: 1rem;
    width: 13rem;
    border-radius: 4px;
}
.song-player-con:hover, #curr-playing-con:hover{
    cursor: pointer;
    background-color: rgb(99, 99, 99);
}
#curr-playing-song-img{
    max-height: 4rem;
    /* background-color: #fff; */
    /* border-radius: 100%; */
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    box-shadow: 0 0 15px rgba(0,0,0,1);
}
.song-player-img{
    max-height: 2rem;
    /* background-color: #fff; */
    /* border-radius: 100%; */
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    box-shadow: 0 0 15px rgba(0,0,0,1);
}
#curr-playing-text-wrap{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* align-items: center; */
    margin-left: 1rem;
    width: 10rem;
    height: 5rem;
}
.song-player-text-wrap{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* align-items: center; */
    margin-left: 0.75rem;
    width: 6.5rem;
    height: 5rem;
}
#curr-playing-song-title{
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
}
.song-player-title{
    color: #fff;
    font-weight: 600;
    font-size: 0.7rem;
}
#curr-playing-song-artist{
    color: #aaa;
    font-size: 0.7rem;
}
.song-player-artist{
    color: #aaa;
    font-size: 0.6rem;
}
.like-heart{
    max-height: 1.5rem;
    opacity: 0.7;
}
.like-heart:hover{
    cursor: pointer;
    opacity: 1;
}


#curr-song-audio-control-con{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#audio-controls-con{
    background-color: #111;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 30rem;
    color: #eee;
}
#audio-controls-wrap{
    /* background-color: red; */
    color: #eee;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#previous, #next{
    /* background-color: yellow; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
#play-pause{
    background-color: #fff;
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    font-size: 1.3rem;
    font-weight: 600;
}
#play-pause-con{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.1rem;
    width: 2.1rem;
    margin: 0 1.5rem;
}
#play-pause:hover{
    height: 2.1rem;
    width: 2.1rem;
}
#duration-bar{
    /* background-color: blue; */
    margin-top: 0.5rem;
    font-size: 0.7rem;
    font-weight: 700;
}




                    /* RIGHT CONTAINER */



#right-con{
    /* background-color: rgb(149, 253, 230); */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 20rem;
}
#top-right-con{
    background-color: rgb(22, 22, 22);
    /* background: linear-gradient(to left, #6f3838,#ff4a4a); */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    /* margin: 1.5rem; */
    /* border-radius: 7px; */
}
#bot-right-con{
    background-color: rgb(22, 22, 22);
    /* background: linear-gradient(135deg, #ff4a4a, #6f3838); */
    min-height: 12rem;
    /* margin: 1.5rem; */
    /* border-radius: 7px; */
}





                    /* ADD SONG FORM */




             
#add-song-wrapper{
    /* background-color: #fff; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    /* padding: 5rem 0; */
}
#add-song-title{
    /* background-color: yellow; */
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 0.5rem 0 1.5rem 0;
    color: #1f1f1f;
}
#add-song-form{
    /* background-color: aqua; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    color: #1f1f1f;
}
.add-song-field-label{
    /* background-color: teal; */
    position: relative;
    display: flex;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 0.8rem;
}
.add-song-form-control{
    /* background-color: tomato; */
    position: relative;
    display: flex;
    height: 1.5rem;
    width: 25rem;
    color: #111;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}
.add-song-form-control:hover{
    border: 1px solid rgba(0,0,0,0.8);
    transition: 0.25s ease-in-out;
}
#add-song-btn-wrap{
    /* background-color: grey; */
    position: relative;
    display: flex;
    height: 3.5rem;
    width: 7.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#add-song-btn{
    /* background-color: greenyellow; */
    background-color: #1f1f1f;
    color: #fff;
    border-style: none;
    font-weight: 700;
    height: 3rem;
    width: 7rem;
    border-radius: 50px;  
    opacity: 1;  
}
#add-song-btn:hover{
    background-color: #ff4a4a;
    color: #fff;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    height: 3.2rem;
    width: 7.5rem;
    font-size: 0.85rem;
    opacity: 1;
}





                    /* LIBRARY */




/* #lib-top-spacer{
    position: relative;
    margin-top: 10rem;
} */
#lib-con{
    background: linear-gradient(#291111, #ff4a4a);
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow-y: auto;
}

#lib-top{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2rem;
}
#lib-top-top{
    /* background-color: yellow; */
    position: relative;
    display: flex;
    align-items: center;
    height: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
#lib-top-bot{
    /* background-color: brown; */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: center; */
    margin-left: 2rem;
    margin-top: 1rem;
}
#lib-tl{
    /* background-color: blue; */
    position: relative;
    display: flex;
    align-items: center;
    width: 12rem;
}
#lib-img{
    max-width: 12rem;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
#lib-tr{
    /* background-color: blueviolet; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    margin-left: 1rem;
}
#lib-title{
    /* background-color: teal; */
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    width: 25rem;
}
#lib-caption{
    /* background-color: orange; */
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    padding-left: 0.35rem;
}

#lib-bot{
    background-color: rgba(0,0,0,0.7);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 1rem;
}

#lib-bot-nav, .lib-bot-song{
    /* background-color: purple; */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: rgb(181, 181, 181);
    font-weight: 400;
    font-size: 0.8rem;
    height: 1.5rem;
}
#lib-bot-nav-id{
    /* background-color: green; */
    margin-left: 2.7rem;
    font-weight: 700;
}
.lib-bot-song-id{
    font-weight: 700;
}
#lib-bot-nav-title, .lib-bot-song-title{
    width: 14rem;
} 
#lib-bot-nav-album, .lib-bot-song-album{
    width: 14rem;
}
.lib-bot-nav-items, .lib-bot-song-items{
    /* background-color: #fff; */
    margin-left: 1.5rem;
}
#lib-bot-nav-duration-img{
    max-width: 1rem;
    margin-left: 0.25rem;
}
#lib-bot-nav-like-img{
    /* background-color: #fff; */
    max-width: 1rem;
}
#lib-bot-nav-duration, .lib-bot-song-duration{
    /* background-color: teal; */
    margin-left: 7rem;
}

.library-spacer{
    /* background-color: red; */
    border-bottom: 1px solid rgba(94, 94, 94, 0.8);
    align-self: center;
    width: 95%;
}

/* SONGS OBJECT */
.lib-bot-song{
    /* background-color: orange; */
    width: 90%;
    margin: 1rem 0 0 1.5rem;
    border-radius: 5px;
    height: 4rem;
}
.lib-bot-song:hover{
    cursor: pointer;
    background-color: #1c0707;
    color: #FFF;
    font-weight: 600;
}
.lib-bot-song-title-wrap{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.lib-bot-song-img{
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lib-bot-song-title-img{
    max-width: 3rem;
}
.lib-bot-song-title-artist-wrap{
    /* background-color: pink; */
    position:relative;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 0.5rem;
}
.lib-bot-song-title-name{
    color: #fff;
    font-weight: 600;
}
.lib-bot-song-like{
    max-width: 1rem;
    opacity: 0.7;
}
.lib-bot-song-like:hover{
    opacity: 1;
}












                    /* FEATURES AND WIDGETS */



/* BACK ARROW */

.back-arrow{
    background-color: rgba(0,0,0,1);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.back-arrow:hover{
    background-color: rgba(19, 19, 19, 0.8);
    cursor: pointer;
}