


                    /* GENERAL FORMATTING */



body, #body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    /* overflow: hidden; */
}
h1{
    margin: 0;
    padding: 0;
}
#body{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



                    /* MAIN CONTAINER */



#main-con{
    /* background-color: yellow; */
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}



                    /* LEFT CONTAINER */



#left-con{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 100vh;
}
#top-left-con{
    /* background-color: aliceblue; */
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 15rem;
    top: 0px;
    left: 0px;
    z-index: 2;
}
#logo-wrap{
    /* background-color: yellow; */
    position: relative;
    display: flex;
    height: 4rem;
}
#icon{
    /* background-color: teal; */
    position: relative;
    display: flex;
    max-width: 5rem;
    height: 4rem;
    z-index: 3;
}
#title{
    /* background-color: teal; */
    position: relative;
    display: flex;
    height: 4rem;
    color: #272727;
    font-weight: 600;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}
#search-wrap{
    margin-top: 1.5rem;
}
.tl-wrap{
    /* background-color: yellow; */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 3rem;
    padding-left: 0.25rem;
}
.tl-icon{
    /* background-color: purple; */
    position: relative;
    display: flex;
    max-width: 3rem;
    height: 3rem;
}
.tl-desc{
    /* background-color: bisque; */
    position: relative;
    display: flex;
    height: 3rem;
    color: #272727;
    font-weight: 600;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
}


#mid-left-con{
    background-color: rgb(0, 90, 169);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 100%;
    top: 15rem;
}
#bot-left-con{
    background-color: rgb(3, 42, 77);
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 12rem;
    bottom: 0px;
    z-index: 2;
}



                    /* MID CONTAINER */



#mid-con{
    background-color: rgb(253, 149, 189);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
}
#top-mid-con{
    background-color: rgb(221, 56, 120);
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 18rem;
    top: 0px;
    z-index: 2;
}
#nav-mid-con{
    background-color: rgb(167, 0, 64);
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 5rem;
    top: 0px;
    z-index: 2;
}
#mid-mid-con{
    background-color: rgb(255, 190, 215);
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}
#bot-mid-con{
    background-color: rgb(17, 0, 6);
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 14rem;
    z-index: 2;
    bottom: 0px;
}



                    /* RIGHT CONTAINER */



#right-con{
    background-color: rgb(149, 253, 230);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 13rem;
    height: 100vh;
    z-index: 3;
}
#top-right-con{
    background-color: rgb(0, 174, 136);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 14rem;
    height: 100%;
    z-index: 3;
}
#bot-right-con{
    background-color: rgb(85, 124, 116);
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 14rem;
    height: 14rem;
    bottom: 0px;
    z-index: 3;
}