


                    /* GENERAL FORMATTING */



body, #body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    /* overflow: hidden; */
}
h1{
    margin: 0;
    padding: 0;
}
#body{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



                    /* MAIN CONTAINER */



#main-con{
    /* background-color: yellow; */
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}



                    /* LEFT CONTAINER */



/* TOP LEFT */

#left-con{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 100vh;
}
#top-left-con{
    /* background-color: aliceblue; */
    background-color: #fff;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 15rem;
    z-index: 2;
}
#logo-wrap{
    background-color: #000;
    position: relative;
    display: flex;
    height: 4rem;
}
#icon{
    /* background-color: teal; */
    position: relative;
    display: flex;
    max-width: 5rem;
    height: 4rem;
    z-index: 3;
    /* margin-left: 0.45rem; */
}
#icon-title{
    /* background-color: teal; */
    position: relative;
    display: flex;
    height: 4rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}
#search-wrap{
    margin-top: 1rem;
}
.tl-wrap{
    /* background-color: yellow; */
    opacity: 0.9;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 3rem;
    padding-left: 1rem;
    color: #000000;
}
.tl-wrap:hover{
    cursor: pointer;
    color: #ff1515;
    opacity: 1;
    transition: 0.25s ease-in-out;
}
.tl-icon{
    /* background-color: purple; */
    position: relative;
    display: flex;
    padding-right: 0.5rem;
    opacity: 1;
}
.icon-img{
    max-width: 2rem;
    max-height: 2rem;
}
.tl-desc{
    /* background-color: bisque; */
    position: relative;
    display: flex;
    height: 3rem;
    font-weight: 700;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
}
#tl-border{
    align-self: center;
    margin-top: 1rem;
    width: 12em;
    border-bottom: solid 1px #ff4a4a;
    opacity: 0.3;
}



/* MIDLEFT */

#mid-left-con{
    /* background-color: rgb(0, 90, 169); */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 100%;
    overflow-y: auto;
}
#ml-create-playlist-wrap{
    /* background-color: purple; */
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    margin: 1rem 0 0.5rem 0.25rem;
}
#ml-plus-icon{
}
#ml-plus-desc{
}
#ml-playlist-wrap{
    /* background-color: rebeccapurple; */
    position: relative;
    display: flex;
    min-height: 2rem;
    align-items: center;
    margin: 0 0 0.35rem 0;
    padding-left: 1.25rem;
    color: #000;
    opacity: 0.75;
}
#ml-playlist-wrap:hover{
    cursor: pointer;
    background-color: #ff4a4a;
    color: #fff;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
}
.ml-playlist{
    font-size: 0.8rem;
    font-weight: 600;
}



/* BOT LEFT */

#bl-spacer{
    min-height: 11rem;
}
#bot-left-con{
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 15rem;
    min-height: 10rem;
    bottom: 0px;
    z-index: 3;
}
#bl-border{
    align-self: center;
    width: 12rem;
    border-top: solid 1px #ff4a4a;
    opacity: 0.3;
    margin-bottom: 2rem;
}
#bl-add-song-wrap{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
#bl-add-song-title{
    /* background-color: green; */
    color: #000;
    font-weight: 700;
}
#bl-add-song-btn-wrap{
    /* background-color: grey; */
    position: relative;
    display: flex;
    height: 3.5rem;
    width: 7.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#bl-add-song-btn{
    /* background-color: greenyellow; */
    background-color: #272727;
    color: #eee;
    border-style: none;
    font-weight: 700;
    height: 3rem;
    width: 7rem;
    border-radius: 50px;  
    opacity: 0.85;  
}
#bl-add-song-btn:hover{
    background-color: #ff4a4a;
    color: #fff;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    height: 3.2rem;
    width: 7.5rem;
    font-size: 0.85rem;
    opacity: 1;
}



                    /* MID CONTAINER */



#mid-con{
    /* background-color: rgb(253, 149, 189); */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
}
#top-mid-con{
    background-color: #272727;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    color: #fff;
    font-weight: 600;
}
#welcome{ 
    margin-right: 3rem;
    font-size: 1.5rem;
}
#connect{ 
    margin-right: 3rem;
}
.mid-con-link{
    color: #fff;
    text-decoration: none;
}
.ball-spacer{
    background-color: #fff;
    border-radius: 50px;
    height: 0.35rem;
    width: 0.35rem;
    margin-right: 3rem;
}
.mid-con-link:hover{
    color: #ff4a4a;
    transition: 0.25s ease-in-out;
}

#mid-mid-con{
    /* background-color: rgb(255, 190, 215); */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    color: #000;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}





                    /* ADD SONG FORM */




                    
#add-song-wrapper{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
#add-song-title{
    /* background-color: yellow; */
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 2rem;
    margin: 1rem;
}
#add-song-form{
    /* background-color: aqua; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    color: #272727;
}
.add-song-field-label{
    /* background-color: teal; */
    position: relative;
    display: flex;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 0.9rem;
}
.add-song-form-control{
    /* background-color: tomato; */
    position: relative;
    display: flex;
    height: 1.5rem;
    width: 30rem;
    color: #272727;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}
.add-song-form-control:hover{
    border: 1px solid rgba(0,0,0,0.8);
    transition: 0.25s ease-in-out;
}
#add-song-btn-wrap{
    /* background-color: grey; */
    position: relative;
    display: flex;
    height: 3.5rem;
    width: 7.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#add-song-btn{
    /* background-color: greenyellow; */
    background-color: #272727;
    color: #eee;
    border-style: none;
    font-weight: 700;
    height: 3rem;
    width: 7rem;
    border-radius: 50px;  
    opacity: 0.85;  
}
#add-song-btn:hover{
    background-color: #ff4a4a;
    color: #fff;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    height: 3.2rem;
    width: 7.5rem;
    font-size: 0.85rem;
    opacity: 1;
}



/* BOT MID */

#bm-spacer{
    min-height: 17rem;
}
#bot-mid-con{
    /* background-color: blue; */
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 17rem;
    bottom: 0px;
}



                    /* RIGHT CONTAINER */



#right-con{
    background-color: rgb(149, 253, 230);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 13rem;
    height: 100vh;
    z-index: 3;
}
#top-right-con{
    background-color: rgb(0, 174, 136);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 14rem;
    height: 100%;
    z-index: 3;
}
#bot-right-con{
    background-color: rgb(85, 124, 116);
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 14rem;
    height: 14rem;
    bottom: 0px;
    z-index: 3;
}
