


                    /* GENERAL FORMATTING */



body, #body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    /* overflow: hidden; */
}
h1{
    margin: 0;
    padding: 0;
}
#body{
    /* background-color: red; */
    position: relative;
    display: flex;
}



                    /* MAIN CONTAINER */



#main-con{
    background: linear-gradient(#008c7e, #272727);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}



                    /* LANDING PAGE MAIN CARD */



#main-card{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#main-card-banner{
    color: #fff;
}
.main-card-ul{
    list-style-type: none;
}
#main-card a:link, 
#main-card a:visited,
#main-card a:active{
    text-decoration: none;
    color: #fff;
}
#main-card a:hover{
    text-decoration: none;
    color: #fff;
    font-size: 1.05rem;
}

