<!DOCTYPE html>
<html lang="en">

<head>

  <!-- META -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- TITLE -->
  <title>Emotify</title>

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- LINKS -->
  <link rel="stylesheet" href="/static/css/styles.css">



</head>



<body>



  <div id="body">



    <div id="main-con">

      <div id="left-con">
        <div id="top-left-con">
          <div id="logo-wrap">
            <div id="icon"><img id="icon-img" src="/static/img/logore1.png"/></div>
            <div id="icon-title"><i>Emotify</i></div>
          </div>
          <div id="search-wrap" class="tl-wrap">
            <div id="search-icon" class="tl-icon"><img id="search-img" class="icon-img" src="/static/img/search1.png"/></div>
            <div id="tl-search" class="tl-desc">Search</div>
          </div>
          <div id="library-wrap" class="tl-wrap">
            <div id="library-icon" class="tl-icon"><img id="library-img" class="icon-img" src="/static/img/songs1.png"/></div>
            <div id="tl-library" class="tl-desc">Your Songs</div>
          </div>
          <div id="tl-playlist-wrap" class="tl-wrap">
            <div id="tl-playlist-icon" class="tl-icon"><img id="playlist-img" class="icon-img" src="/static/img/playlists.png"/></div>
            <div id="tl-playlist" class="tl-desc">Your Playlists</div>
          </div>
          <div id="tl-border"></div>
        </div>

        <div id="mid-left-con">
          <div id="ml-create-playlist-wrap" class="tl-wrap">
            <div id="ml-plus-icon" class="tl-icon"><img id="plsu-img" class="icon-img" src="/static/img/plus_bl.png"/></div>
            <div id="ml-plus-desc" class="tl-desc">Create Playlist</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
        </div>
        <div id="bl-spacer"></div>
        <div id="bot-left-con">
          <div id="bl-border"></div>
          <div id="bl-add-song-wrap">
            <div id="bl-add-song-title">Add Song To Library</div>
            <form id="bl-add-song-form" action="/add-song">
              <span id="bl-add-song-btn-wrap">
                <button id="bl-add-song-btn">New Song</button>
              </span>  
            </form>
          </div>
        </div>
      </div>
      
      <div id="mid-con">
        <div id="top-mid-con">
          <div id="mid-welcome">Welcome back, {{g.user.username | title}}.</div>
          <div id="top-mid-right-wrap">
            <div id="mid-connect"><a class="mid-con-link" href="/">Connect Headset</a></div>
          <div class="ball-spacer"></div>
          <div id="mid-logout"><a class="mid-con-link" href="/logout">Logout</a></div>
          </div>
          
        </div>
        <div id="mid-mid-con">
          {% block content %}
          {% endblock %}
        </div>
        <div id="bm-spacer"></div>
        <div id="bot-mid-con">

        </div>
      </div>

      <div id="right-con">
        <div id="top-right-con">
          
        </div>
        <div id="br-spacer"></div>
        <!-- <div id="bot-right-con">

        </div> -->
      </div>

    </div>



  </div>







</body>

</html>