<!DOCTYPE html>
<html lang="en">

<head>

  <!-- META -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- TITLE -->
  <title>Emotify</title>

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- LINKS -->
  <link rel="stylesheet" href="/static/css/styles.css">

</head>



<body>

  <div id="body">



    <div id="main-con">

      <div id="left-con">
        <div id="top-left-con">
          <div id="logo-wrap">
            <div id="icon"><img id="icon-img" src="/static/img/logore1.png"/></div>
            <div id="icon-title"><i><span id="icon-title-link">Emotify</span></i></div>
          </div>
          <div id="home-wrap" class="tl-wrap">
            <!-- <form id="tl-search-form" class ="link-form" action="/"> -->
              <span id="tl-search-btn-wrap" class="link-btn-wrap">
                <div id="tl-create-search-btn" class="link-btn">
                  <div id="search-icon" class="tl-icon"><img id="search-img" class="icon-img" src="/static/img/search1.png"/></div>
                  <div id="tl-search" class="tl-desc">Home</div>
                </div>
              </span>  
            <!-- </form> -->
          </div>
          <div id="library-wrap" class="tl-wrap">
            <!-- <form id="tl-library-form" class ="link-form" action="/library"> -->
              <span id="tl-library-btn-wrap" class="link-btn-wrap">
                <div id="tl-create-library-btn" class="link-btn">
                  <div id="library-icon" class="tl-icon"><img id="library-img" class="icon-img" src="/static/img/songs1.png"/></div>
                  <div id="tl-library" class="tl-desc">Library</div>
                </div>
              </span>  
            <!-- </form> -->
          </div>
          <div id="tl-playlist-wrap" class="tl-wrap">
            <!-- <form id="tl-playlist-form" class ="link-form" action="/"> -->
              <span id="tl-playlist-btn-wrap" class="link-btn-wrap">
                <div id="tl-create-playlist-btn" class="link-btn">
                  <div id="tl-playlist-icon" class="tl-icon"><img id="playlist-img" class="icon-img" src="/static/img/playlists.png"/></div>
                  <div id="tl-playlist" class="tl-desc">Your Playlists</div>
                </div>
              </span>  
            <!-- </form> -->
          </div>
          <div id="tl-border"></div>
        </div>

        <div id="mid-left-con">
          <div id="ml-create-playlist-wrap" class="tl-wrap">
            <form id="ml-create-playlist-form" action="/create-playlist">
              <span id="ml-create-playlist-btn-wrap">
                <button id="ml-create-playlist-btn">
                  <div id="ml-plus-icon" class="tl-icon"><img id="plus-img" class="icon-img" src="/static/img/plus_bl.png"/></div>
                  <div id="ml-plus-desc" class="tl-desc">Create Playlist</div>
                </button>
              </span>  
            </form>
          </div>
          <div id="ml-playlist-wrap">
            {% for playlist in my_playlists %}
              <div class="ml-playlist">{{playlist.title}}</div>
            {% endfor %}
          </div>
        </div>
        <div id="bl-spacer"></div>
        <div id="bot-left-con">
          <div id="bl-border"></div>
          <div id="bl-add-song-wrap">
            <div id="bl-add-song-title">Add Song To Library</div>
            <form id="bl-add-song-form" action="/add-song">
              <span id="bl-add-song-btn-wrap">
                <button id="bl-add-song-btn">New Song</button>
              </span>  
            </form>
          </div>
        </div>
      </div>
      
      <div id="mid-con">
        <div id="top-mid-con">
          <div id="mid-welcome">Welcome back, {{g.user.username | title}}.</div>
          <div id="top-mid-right-wrap">
            <div id="mid-connect"><a class="mid-con-link" href="/">Connect Headset</a></div>
          <div class="ball-spacer"></div>
          <div id="mid-logout"><a class="mid-con-link" href="/logout">Logout</a></div>
          </div>
          
        </div>
        <div id="mid-mid-con">
          {% block content %}
          {% endblock %}
        </div>
        <div id="bm-spacer"></div>

        <div id="bot-mid-con">

          <div id="prev-playing-con" class="song-player-con" data-song="">
            <audio id="" data-pos="prev" class="audio prev-audio" src=''></audio>
            <img id="prev-playing-song-img" class="song-player-img" src=''>
            <div id="prev-playing-text-wrap" class="song-player-text-wrap">
              <div id="prev-playing-song-title" class="song-player-title"></div>
              <div id="prev-playing-song-artist" class="song-player-artist"></div>
            </div>
            <img id="prev-song-heart" class="like-heart" src="">
          </div>



          <div id="curr-song-audio-control-con" data-song="">
            <audio id="" data-pos="curr" class="audio curr-audio" src=''></audio>
            <div id="curr-playing-con">
              <img id="curr-playing-song-img" src="">
              <div id="curr-playing-text-wrap">
                <div id="curr-playing-song-title"></div>
                <div id="curr-playing-song-artist"></div>
              </div>
              <img id="curr-song-heart" class="like-heart" src="">
            </div>



            <div id="audio-controls-con">
              <div id="audio-controls-wrap">
                <div id="previous" class="audio-control-items"><</div>
                <div id="play-pause-con">
                  <div id="play-pause" class="audio-control-items">></div>
                </div>
                <div id="next" class="audio-control-items">></div>
              </div>
              <div id="duration-bar">0:00 ---------------------------------------------------------------------------- 3:24</div>
            </div>
          </div>

          <div id="next-playing-con" class="song-player-con" data-song="">
            <audio id="" data-pos="next" class="audio next-audio" src=''></audio>
            <img id="next-playing-song-img" class="song-player-img" src=''>
            <div id="next-playing-text-wrap" class="song-player-text-wrap">
              <div id="next-playing-song-title" class="song-player-title"></div>
              <div id="next-playing-song-artist" class="song-player-artist"></div>
            </div>
            <img id="next-song-heart" class="like-heart" src="">
          </div>

        </div>

      </div>

      <div id="right-con">
        <div id="top-right-con">
          
        </div>
        <div id="bot-right-con"></div>
      </div>

    </div>



  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="../static/js/jquery.js"></script>
  <script src="../../static/js/audio.js"></script>
  <script src="../../static/js/app.js"></script>
  
</body>

</html>