<!DOCTYPE html>
<html lang="en">

<head>

  <!-- META -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- TITLE -->
  <title>Emotify</title>

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- LINKS -->
  <link rel="stylesheet" href="/static/css/styles.css">



</head>



<body>



  <div id="body">



    <div id="main-con">

      <div id="left-con">
        <div id="top-left-con">
          <div id="logo-wrap">
            <div id="icon"><img id="icon-img" src="/static/img/logore1.png"/></div>
            <div id="icon-title"><i><a id="icon-title-link" href="/">Emotify</a></i></div>
          </div>
          <div id="search-wrap" class="tl-wrap">
            <form id="tl-search-form" class ="link-form" action="/library">
              <span id="tl-search-btn-wrap" class="link-btn-wrap">
                <button id="tl-create-search-btn" class="link-btn">
                  <div id="search-icon" class="tl-icon"><img id="search-img" class="icon-img" src="/static/img/search1.png"/></div>
                  <div id="tl-search" class="tl-desc">Search</div>
                </button>
              </span>  
            </form>
          </div>
          <div id="library-wrap" class="tl-wrap">
            <form id="tl-library-form" class ="link-form" action="/library">
              <span id="tl-library-btn-wrap" class="link-btn-wrap">
                <button id="tl-create-library-btn" class="link-btn">
                  <div id="library-icon" class="tl-icon"><img id="library-img" class="icon-img" src="/static/img/songs1.png"/></div>
                  <div id="tl-library" class="tl-desc">Library</div>
                </button>
              </span>  
            </form>
          </div>
          <div id="tl-playlist-wrap" class="tl-wrap">
            <form id="tl-playlist-form" class ="link-form" action="/create-playlist">
              <span id="tl-playlist-btn-wrap" class="link-btn-wrap">
                <button id="tl-create-playlist-btn" class="link-btn">
                  <div id="tl-playlist-icon" class="tl-icon"><img id="playlist-img" class="icon-img" src="/static/img/playlists.png"/></div>
                  <div id="tl-playlist" class="tl-desc">Your Playlists</div>
                </button>
              </span>  
            </form>
          </div>
          <div id="tl-border"></div>
        </div>

        <div id="mid-left-con">
          <div id="ml-create-playlist-wrap" class="tl-wrap">
            <form id="ml-create-playlist-form" action="/create-playlist">
              <span id="ml-create-playlist-btn-wrap">
                <button id="ml-create-playlist-btn">
                  <div id="ml-plus-icon" class="tl-icon"><img id="plus-img" class="icon-img" src="/static/img/plus_bl.png"/></div>
                  <div id="ml-plus-desc" class="tl-desc">Create Playlist</div>
                </button>
              </span>  
            </form>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
          <div id="ml-playlist-wrap">
            <div class="ml-playlist">Playlist.title</div>
          </div>
        </div>
        <div id="bl-spacer"></div>
        <div id="bot-left-con">
          <div id="bl-border"></div>
          <div id="bl-add-song-wrap">
            <div id="bl-add-song-title">Add Song To Library</div>
            <form id="bl-add-song-form" action="/add-song">
              <span id="bl-add-song-btn-wrap">
                <button id="bl-add-song-btn">New Song</button>
              </span>  
            </form>
          </div>
        </div>
      </div>
      
      <div id="mid-con">
        <div id="top-mid-con">
          <div id="mid-welcome">Welcome back, {{g.user.username | title}}.</div>
          <div id="top-mid-right-wrap">
            <div id="mid-connect"><a class="mid-con-link" href="/">Connect Headset</a></div>
          <div class="ball-spacer"></div>
          <div id="mid-logout"><a class="mid-con-link" href="/logout">Logout</a></div>
          </div>
          
        </div>
        <div id="mid-mid-con">
          {% block content %}
          {% endblock %}
        </div>
        <div id="bm-spacer"></div>

        <div id="bot-mid-con">
          <div id="prev-playing-con" class="song-player-con">
              <img id="prev-playing-song-img" class="song-player-img" src='https://images-na.ssl-images-amazon.com/images/I/51K7n%2Bp70OL.jpg'>
              <div id="prev-playing-text-wrap" class="song-player-text-wrap">
                <div id="prev-playing-song-title" class="song-player-title">Welcome to the Jungle</div>
                <div id="prev-playing-song-artist" class="song-player-artist">Guns N' Roses</div>
              </div>
              <img id="prev-song-heart" class="like-heart" src="../static/img/heart1.png">
          </div>
          <div id="curr-song-audio-control-con">
            <div id="curr-playing-con">
              <img id="curr-playing-song-img" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/64fc25fd-d5ce-4b3a-93ab-4ef514a96251/d6yb5kr-fc7af1d6-d77a-4aa7-a47c-384761f5748f.jpg/v1/fill/w_1024,h_1024,q_75,strp/ac_dc_thunderstruck_album_reimagined_by_jerle73_d6yb5kr-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcLzY0ZmMyNWZkLWQ1Y2UtNGIzYS05M2FiLTRlZjUxNGE5NjI1MVwvZDZ5YjVrci1mYzdhZjFkNi1kNzdhLTRhYTctYTQ3Yy0zODQ3NjFmNTc0OGYuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.zLo2YeZv6ruyRKPvDRkebrP1kn3uOpkw1pG86fYth18">
              <div id="curr-playing-text-wrap">
                <div id="curr-playing-song-title" >Thunderstruck</div>
                <div id="curr-playing-song-artist">ACDC</div>
              </div>
              <img id="curr-song-heart" class="like-heart" src="../static/img/heart1.png">
            </div>
            <div id="audio-controls-con"></div>
          </div>
          
        <div id="next-playing-con" class="song-player-con">
          <img id="next-playing-song-img" class="song-player-img" src='https://images-na.ssl-images-amazon.com/images/I/81DV-IyzlVL._SL1500_.jpg'>
          <div id="next-playing-text-wrap" class="song-player-text-wrap">
            <div id="next-playing-song-title" class="song-player-title">Point of Know Return</div>
            <div id="next-playing-song-artist" class="song-player-artist">Kansas</div>
          </div>
          <img id="next-song-heart" class="like-heart" src="../static/img/heart1.png">
        </div>
      </div>

      </div>

      <div id="right-con">
        <div id="top-right-con">
          
        </div>
        <div id="bot-right-con"></div>

      </div>

    </div>



  </div>





  <script src="../../static/js/audio.js"></script>
  
</body>

</html>