<!DOCTYPE HTML>
<html>
<head>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITLE -->
    <title>Flask-SocketIO Test</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- LINKS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="../static/js/data.js"></script>
    <link rel="stylesheet" href="/static/css/data.css">

</head>



                    <!-- BODY -->



<body>

    <div id="data-main-container">

        <div id="data-title">Emotify Data Display (For Dev.)</div>
        <div id="data-buttons-container">
            <a href=# id=stream-btn><button class='btn btn-default'>Open Stream</button></a>
            <form id="disconnect" method="POST" action="#">
                <input id="disconnect-btn" class="btn" type="submit" value="Disconnect">
            </form>
        </div>
        <div id="data-log-container">
            <div class="data-log-number data-log-item"></div>
            <div class="data-log-command data-log-item"></div>
            <div class="data-log-data data-log-item"></div>
        </div>

    </div>  


</body>
</html>