<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

    <!-- On button press -> AJAX call to /display_data route -->
    <script type=text/javascript>
        $(function() {
            $('a#data-btn').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/display_data',
                    function(data) {
                //do nothing
                });
                return false;
            });
        });
    </script>
    
    <div class='container'>
        <h3>Show Data</h3>
        <form><a href=# id=data-btn><button class='btn btn-default'>Display Data</button></a></form>
    </div>
</body>
</html>