<!DOCTYPE HTML>
<html>
<head>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITLE -->
    <title>Flask-SocketIO Test</title>

    <!-- LINKS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="../static/js/data.js"></script>

</head>



                    <!-- BODY -->



<body>





    <h1 id = "test-color">Neural Nav WebSocket with SocketIO</h1>
    <h2>Send message from client to Flask-server:</h2>
    <form id="display-data" method="POST" action='#'>
        <input type="submit" value="Display Data">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <!-- On button press -> AJAX call to /display_data route to open stream -->
    <script type=text/javascript>
        $(function() {
            $('a#stream-btn').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/display_data', function(data) {});
                return false;
            });
        });
    </script>
    <div class='container'>
        <h3>Open DataStream</h3>
        <form><a href=# id=stream-btn><button class='btn btn-default'>Open Stream</button></a></form>
    </div>
    <h2>Received:</h2>
    <div id="log"></div>
   

</body>
</html>