<!DOCTYPE html>
<html lang="en">

<head>

  <!-- META -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- TITLE -->
  <title>Emotify</title>

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- LINKS -->
  <link rel="stylesheet" href="/static/styles.css">


</head>



<body>






  <div id="body">
    <div id="main-con">
      <div id="main-card">
        <h1 id="main-card-h1">Emotify - Think Your Way Through Music</h1>
        <ul id="main-card-ul">
          {% if not g.user %}
            <li><a class="main-card-a" href="/signup">Sign up</a></li>
            <li><a class="main-card-a" href="/login">Log in</a></li>
          {% else %}
            <li><a class="main-card-a" href="/users/{{ g.user.id }}"><img src="{{ g.user.image_url }}" alt="{{ g.user.username }}"></a></li>
            <li><a class="main-card-a" href="/logout">Log out</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>







</body>

</html>