<!DOCTYPE html>
<html lang="en">

<head>

  <!-- META -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- TITLE -->
  <title>Emotify</title>

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- LINKS -->
  <link rel="stylesheet" href="/static/css/landing.css">

</head>

<body>

  <div id="body">
    <div id="main-con">
      <div id="main-card">
        <div id="main-card-left-wrap">
          <img id="main-card-img" src="/static/img/emo2sq.png"> 
        </div>
        <div id ="main-card-right-wrap">
          <h1 id="main-card-banner"><i>Accessible, hands-free music for everyone. Anytime. Anywhere.</i></h1>
          <h1 id="main-card-title"><span id="emotify">Emotify</span></h1>
          <div class="main-card-ul">
            {% if not g.user %}
              <div class="main-card-li-wrap">
                <div class="main-card-li" id="main-card-li-signup">
                  <a id ="signup-btn" class="main-card-a" href="/signup">SIGN UP FREE</a>
                </div>
              </div>
              <div class="main-card-li-wrap">
                <div class="main-card-li" id="main-card-li-demo"><a id ="demo-btn" class="main-card-a" href="/">EMOTIFY DEMO</a></div>
              </div>
              <div id="main-card-login-con-wrap">
                <div id="main-card-log">Already have an account?</div>
                <div class="main-card-login-wrap">
                  <a id ="login-btn" class="main-card-a" href="/login">LOG IN</a>
                </div>
              </div>
            {% else %}
            <div class="main-card-li-wrap">
              <div class="main-card-li"><a class="main-card-a" href="/users/{{ g.user.id }}"><img src="{{ g.user.image_url }}" alt="{{ g.user.username }}"></a></div>
            </div>
            <div class="main-card-li-wrap">
              <div class="main-card-li"><a class="main-card-a" href="/logout">LOG OUT</a></div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div> 
  </div>

</body>

</html>