{% extends 'app.html' %}
{% block content %}
<div id="lib-con">
    <div id="lib-top">
        <div id="lib-top-top">
            <a class="back-arrow" href="/"><</a>
        </div>
        <div id="lib-top-bot">
            <div id="lib-tl">
                <img id="lib-img" src="https://d.newsweek.com/en/full/565399/u2.jpg?w=1600&h=1600&q=88&f=795924d4392e3e7eb568a50ccecda66a"/>
            </div>
            <div id="lib-tr">
                <div id="lib-title">Library</div>
                <div id="lib-caption">All of your top hits. Updated daily.</div>
            </div>
        </div>
    </div>

    <div id="lib-bot">
        <div id="lib-bot-nav">
            <div id="lib-bot-nav-id" class="lib-bot-nav-items">#</div>
            <div id="lib-bot-nav-title" class="lib-bot-nav-items">TITLE</div>
            <div id="lib-bot-nav-album" class="lib-bot-nav-items">ALBUM</div>
            <div id="lib-bot-nav-like" class="lib-bot-nav-items"><img id="lib-bot-nav-like-img" src="../../static/img/heart1.png"></div>
            <div id="lib-bot-nav-duration" class="lib-bot-nav-items"><img id="lib-bot-nav-duration-img" src="../../static/img/clock2.png"></div>
        </div>
        <div class="library-spacer"></div>
        
        {%for song in songs%}
        <div class="lib-bot-song" id="{{song.id}}">
            <audio id="audio_{{song.id}}" src="../../static/audio/{{song.file}}"></audio>
            </span>
            
            <div id="{{song.id}}" class="lib-bot-song-id lib-bot-song-items">{{song.id}}</div>
            <div class="lib-bot-song-title lib-bot-song-items">
                <div class="lib-bot-song-title-wrap">
                    <div class="lib-bot-song-img"><img id="lib-bot-song-title-img" src="{{song.img}}"></div>
                    <div class="lib-bot-song-title-artist-wrap">
                        <div class="lib-bot-song-title-name">{{song.title}}</div>
                        <div class="lib-bot-song-title-artist">{{song.artist}}</div>
                    </div>
                </div>
            </div>
            <div class="lib-bot-song-album lib-bot-song-items">{{song.album}}</div>
            <img class="lib-bot-song-like lib-bot-song-items" src="/static/img/heart1.png">
            <div class="lib-bot-song-duration lib-bot-song-items">{{song.duration//60}}:{{song.duration%60}}</div>
        </div>
        {%endfor%}
    </div>
</div>  

{% endblock %}