{% extends 'app.html' %}
{% block content %}


<div id="lib-wrap">

    <div id="lib-top">
        <div id="lib-top-top">
            <a class="back-arrow" href="/"><</a>
        </div>
        <div id="lib-top-bot">
            <div id="lib-tl">
                <img id="lib-img" src="https://d.newsweek.com/en/full/565399/u2.jpg?w=1600&h=1600&q=88&f=795924d4392e3e7eb568a50ccecda66a"/>
            </div>
            <div id="lib-tr">
                <div id="lib-title">Library</div>
                <div id="lib-caption">All of the top hits. Updated daily.</div>
            </div>
        </div>
    </div>

    <div id="lib-bot">

    </div>
    
</div>

{% endblock %}