{% extends 'app.html' %}
{% block content %}


<div id="lib-wrap">

    <div id="lib-top">
        <div id="lib-top-top">
            <a class="back-arrow" href="/"><</a>
        </div>
        <div id="lib-top-bot">
            <div id="lib-tl">
                <img id="lib-img" src="https://d.newsweek.com/en/full/565399/u2.jpg?w=1600&h=1600&q=88&f=795924d4392e3e7eb568a50ccecda66a"/>
            </div>
            <div id="lib-tr">
                <div id="lib-title">Library</div>
                <div id="lib-caption">All of the top hits. Updated daily.</div>
            </div>
        </div>
    </div>

    <div id="lib-bot">
        <div id="lib-bot-nav">
            <div id="lib-bot-nav-id" class="lib-bot-nav-items">#</div>
            <div id="lib-bot-nav-title" class="lib-bot-nav-items">TITLE</div>
            <div id="lib-bot-nav-album" class="lib-bot-nav-items">ALBUM</div>
            <div id="lib-bot-nav-duration" class="lib-bot-nav-items"><img id="lib-bot-nav-duration-img" src="../../static/img/search1.png"></div>
        </div>
        <div class="library-spacer"></div>
        
        <div class="lib-bot-song">
            <div class="lib-bot-song-id lib-bot-song-items">1</div>
            <div class="lib-bot-song-title lib-bot-song-items">
                <div class="lib-bot-song-title-wrap">
                    <div class="lib-bot-song-img"><img id="lib-bot-song-title-img" src="https://upload.wikimedia.org/wikipedia/en/6/60/GunsnRosesAppetiteforDestructionalbumcover.jpg"></div>
                    <div class="lib-bot-song-title-artist-wrap">
                        <div class="lib-bot-song-title-name">Welcome to the Jungle</div>
                        <div class="lib-bot-song-title-artist">Guns and Roses</div>
                    </div>
                </div>
            </div>
            <div class="lib-bot-song-album lib-bot-song-items">Appetite for Destruction</div>
            <div class="lib-bot-song-duration lib-bot-song-items">4:32</div>
        </div>
        <div class="lib-bot-song">
            <div class="lib-bot-song-id lib-bot-song-items">2</div>
            <div class="lib-bot-song-title lib-bot-song-items">
                <div class="lib-bot-song-title-wrap">
                    <div class="lib-bot-song-img"><img id="lib-bot-song-title-img" src="https://images-na.ssl-images-amazon.com/images/I/61ixUFg2veL._SY355_.jpg"></div>
                    <div class="lib-bot-song-title-artist-wrap">
                        <div class="lib-bot-song-title-name">Point of Know Return</div>
                        <div class="lib-bot-song-title-artist">Kansas</div>
                    </div>
                </div>
            </div>
            <div class="lib-bot-song-album lib-bot-song-items">Point of Know Return</div>
            <div class="lib-bot-song-duration lib-bot-song-items">3:13</div>
        </div>
        <div class="lib-bot-song">
            <div class="lib-bot-song-id lib-bot-song-items">1</div>
            <div class="lib-bot-song-title lib-bot-song-items">
                <div class="lib-bot-song-title-wrap">
                    <div class="lib-bot-song-img"><img id="lib-bot-song-title-img" src="https://upload.wikimedia.org/wikipedia/en/6/60/GunsnRosesAppetiteforDestructionalbumcover.jpg"></div>
                    <div class="lib-bot-song-title-artist-wrap">
                        <div class="lib-bot-song-title-name">Welcome to the Jungle</div>
                        <div class="lib-bot-song-title-artist">Guns and Roses</div>
                    </div>
                </div>
            </div>
            <div class="lib-bot-song-album lib-bot-song-items">Appetite for Destruction</div>
            <div class="lib-bot-song-duration lib-bot-song-items">4:32</div>
        </div>
        <div class="lib-bot-song">
            <div class="lib-bot-song-id lib-bot-song-items">1</div>
            <div class="lib-bot-song-title lib-bot-song-items">
                <div class="lib-bot-song-title-wrap">
                    <div class="lib-bot-song-img"><img id="lib-bot-song-title-img" src="https://upload.wikimedia.org/wikipedia/en/6/60/GunsnRosesAppetiteforDestructionalbumcover.jpg"></div>
                    <div class="lib-bot-song-title-artist-wrap">
                        <div class="lib-bot-song-title-name">Welcome to the Jungle</div>
                        <div class="lib-bot-song-title-artist">Guns and Roses</div>
                    </div>
                </div>
            </div>
            <div class="lib-bot-song-album lib-bot-song-items">Appetite for Destruction</div>
            <div class="lib-bot-song-duration lib-bot-song-items">4:32</div>
        </div>
        <div class="lib-bot-song">
            <div class="lib-bot-song-id lib-bot-song-items">1</div>
            <div class="lib-bot-song-title lib-bot-song-items">
                <div class="lib-bot-song-title-wrap">
                    <div class="lib-bot-song-img"><img id="lib-bot-song-title-img" src="https://upload.wikimedia.org/wikipedia/en/6/60/GunsnRosesAppetiteforDestructionalbumcover.jpg"></div>
                    <div class="lib-bot-song-title-artist-wrap">
                        <div class="lib-bot-song-title-name">Welcome to the Jungle</div>
                        <div class="lib-bot-song-title-artist">Guns and Roses</div>
                    </div>
                </div>
            </div>
            <div class="lib-bot-song-album lib-bot-song-items">Appetite for Destruction</div>
            <div class="lib-bot-song-duration lib-bot-song-items">4:32</div>
        </div>
        <div class="lib-bot-song">
            <div class="lib-bot-song-id lib-bot-song-items">1</div>
            <div class="lib-bot-song-title lib-bot-song-items">
                <div class="lib-bot-song-title-wrap">
                    <div class="lib-bot-song-img"><img id="lib-bot-song-title-img" src="https://upload.wikimedia.org/wikipedia/en/6/60/GunsnRosesAppetiteforDestructionalbumcover.jpg"></div>
                    <div class="lib-bot-song-title-artist-wrap">
                        <div class="lib-bot-song-title-name">Welcome to the Jungle</div>
                        <div class="lib-bot-song-title-artist">Guns and Roses</div>
                    </div>
                </div>
            </div>
            <div class="lib-bot-song-album lib-bot-song-items">Appetite for Destruction</div>
            <div class="lib-bot-song-duration lib-bot-song-items">4:32</div>
        </div>
        <div class="lib-bot-song">
            <div class="lib-bot-song-id lib-bot-song-items">1</div>
            <div class="lib-bot-song-title lib-bot-song-items">
                <div class="lib-bot-song-title-wrap">
                    <div class="lib-bot-song-img"><img id="lib-bot-song-title-img" src="https://upload.wikimedia.org/wikipedia/en/6/60/GunsnRosesAppetiteforDestructionalbumcover.jpg"></div>
                    <div class="lib-bot-song-title-artist-wrap">
                        <div class="lib-bot-song-title-name">Welcome to the Jungle</div>
                        <div class="lib-bot-song-title-artist">Guns and Roses</div>
                    </div>
                </div>
            </div>
            <div class="lib-bot-song-album lib-bot-song-items">Appetite for Destruction</div>
            <div class="lib-bot-song-duration lib-bot-song-items">4:32</div>
        </div>
    </div>
    
</div>

{% endblock %}