<div id="p-con" class="template-con">
    <div id="p-top" class="template-top">
        <div id="p-top-top" class="template-top-top"></div>
        <div id="p-top-bot" class="template-top-bot">
            <div id="p-tl" class="template-tl">
                <img id="p-img" class="template-img" src="{{playlist.img}}"/>
            </div>
            <div id="p-tr" class="template-tr">
                <div id="p-title" class="template-title">{{playlist.title}}</div>
                <div id="p-caption" class="template-caption">{{playlist.description}}</div>
            </div>
        </div>
    </div>

    <div id="p-songs-con">

    </div>


    <div id="lib-bot" class="template-bot">
        <div id="lib-bot-nav">
            <div id="lib-bot-nav-id" class="lib-bot-nav-items">#</div>
            <div id="lib-bot-nav-title" class="lib-bot-nav-items">TITLE</div>
            <div id="lib-bot-nav-album" class="lib-bot-nav-items">ALBUM</div>
            <div id="lib-bot-nav-like" class="lib-bot-nav-items"><img id="lib-bot-nav-like-img" src="../../static/img/heart1.png"></div>
            <div id="lib-bot-nav-duration" class="lib-bot-nav-items"><img id="lib-bot-nav-duration-img" src="../../static/img/clock2.png"></div>
            <div id="lib-bot-nav-delete" class="lib-bot-nav-items">X</div>
        </div>
        <div class="library-spacer"></div>
        
        {%for song in songs%}
        <div class="lib-bot-song" id="{{song.id}}" data-containertype="libsong" data-song="{{song.id}}" data-duration="{{song.duration}}">
            <div data-song="audio_{{song.id}}" data-src="../static/audio/{{song.file}}"></div>
            <div id="{{song.id}}" class="lib-bot-song-id lib-bot-song-items">{{song.id}}</div>
            <div class="lib-bot-song-title lib-bot-song-items">
                <div class="lib-bot-song-title-wrap">
                    <div class="lib-bot-song-img"><img id="lib-bot-song-title-img" src="{{song.img}}"></div>
                    <div class="lib-bot-song-title-artist-wrap">
                        <div class="lib-bot-song-title-name">{{song.title}}</div>
                        <div class="lib-bot-song-title-artist">{{song.artist}}</div>
                    </div>
                </div>
            </div>
            <div class="lib-bot-song-album lib-bot-song-items">{{song.album}}</div>
            <img class="lib-bot-song-like lib-bot-song-items" src="/static/img/heart1.png">
            <div class="lib-bot-song-duration lib-bot-song-items">{{song.duration//60}}:{{song.duration%60}}</div>
        </div>
        {%endfor%}
    </div>
</div>  
</div>