<div id="p-con" class="template-con">
    <div id="p-top" class="template-top">
        <div id="p-top-top" class="template-top-top"></div>
        <div id="p-top-bot" class="template-top-bot">
            <div id="p-tl" class="template-tl">
                <img id="p-img" class="template-img" src="{{playlist.img}}"/>
            </div>
            <div id="p-tr" class="template-tr">
                <div id="p-title" class="template-title">{{playlist.title}}</div>
                <div id="p-caption" class="template-caption">{{playlist.description}}</div>
            </div>
        </div>
    </div>

    <div id="p-songs-con">

    </div>
</div>