<div id="p-con" class="template-con">
    <div id="p-top" class="template-top">
        <div id="p-top-top" class="template-top-top"></div>
        <div id="p-top-bot" class="template-top-bot">
            <div id="p-tl" class="template-tl">
                <img id="p-img" class="template-img" src="{{playlist.img}}"/>
            </div>
            <div id="p-tr" class="template-tr">
                <div id="p-title" class="template-title">{{playlist.title}}</div>
                <div id="p-caption" class="template-caption">{{playlist.description}}</div>
            </div>
        </div>
    </div>

    <div id="p-songs-con">

    </div>

    <div class="pl-con">
        <div class="pl-nav">
            <div class="pl-nav-id pl-nav-item">#</div>
            <div class="pl-nav-title pl-nav-item">TITLE</div>
            <div class="pl-nav-album pl-nav-item">ALBUM</div>
            <div class="pl-nav-like pl-nav-item"><img class="pl-nav-like-img" src="../../static/img/heart1.png"></div>
            <div class="pl-nav-duration pl-nav-item"><img class="pl-nav-duration-img" src="../../static/img/clock2.png"></div>
            <div class="pl-nav-delete pl-nav-item">X</div>
        </div>
        <div class="pl-spacer"></div>

        {%for song in songs%}
            <div id = "pl-song-{{loop.index}}" class="pl-song-wrap" data-pll="" data-songpl="{{playlist.id}}" data-songid="{{song.id}}" data-songidx="{{loop.index}}" data-songtitle="{{song.title}}" data-songartist="{{song.artist}}", data-songalbum="{{song.album}}", data-songduration="{{song.duration}}", data-songimg="{{song.img}}", data-songfile="{{song.file}}">
                <div class="pl-song-index pl-song-item"><span class ="loop-idx">{{loop.index}}</span></div>
                <img class="pl-song-img pl-song-item" src="{{song.img}}">
                <div class="pl-song-title-artist-wrap">
                    <div class="pl-song-title">{{song.title}}</div>
                    <div class="pl-song-artist">{{song.artist}}</div>
                </div>
                <div class="pl-song-album">{{song.album}}</div>
                <div class="pl-song-like pl-song-item"><img class="pl-song-like-img" data-songid="{{song.id}}" src="../../static/img/heart1.png"></div>
                <div class="pl-song-duration pl-song-item">{{song.duration//60}}:{{song.duration%60}}</div>
                {% if playlist.id == 1 %}
                    {% if song.user_id == g.user.id %}
                        <form class="pl-song-del-form pl-song-item" action="/song/{{song.id}}/delete" method="POST">
                            <button id = "pl-song-del-{{song.id}}" class="pl-song-del-btn">X</button> 
                        </form>
                    {% endif %}
                {% endif %}
                {% if playlist in my_playlists and playlist.id != 1 %}
                
                    <div class="pl-song-del-form pl-song-item">
                        <button id = "pl-{{playlist.id}}-song-remove-{{song.id}}" class="pl-song-del-btn">X</button> 
                    </div> 
                {% endif %}
            </div>
        {%endfor%}

    </div>
</div>  

<!-- RIGHT CLICK MENU -->

<div id="rc-menu">
    <div id="rc-add-song">Add to playlist</div>
  </div>
  <div id="rc-playlists">
    {% for playlist in my_playlists %}
      {% if playlist.title != 'Library' %}
        <div class="rc-pl-form" id="rc-pl-{{playlist.id}}">
          <button class="rc-pl-btn" id="rc-pl-btn-{{playlist.id}}">{{playlist.title}}</button>
        </div>
      {% endif %}
    {% endfor %}
  </div>

<script src="../../static/js/playlist.js"></script>