<div id="yp-con" class="template-con">
    <div id="yp-top" class="template-top">
        <div id="yptop-top" class="template-top-top"></div>
        <div id="yptop-bot" class="template-top-bot">
            <div id="yp-tl" class="template-tl">
                <img id="yp-img" class="template-img" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/top-40-classic-rock-albums-of-all-time-max-huber.jpg"/>
            </div>
            <div id="yp-tr" class="template-tr">
                <div id="yp-title" class="template-title">Your Playlists</div>
                <div id="yp-caption" class="template-caption">All of your favorite music. All in one place.</div>
            </div>
        </div>
    </div>

    <div id="yp-bot" class="template-bot">
        <div id="yp-bot-nav" class="">

        </div>
        <div class="library-spacer"></div>

    </div>
</div>