<div id="yp-con" class="template-con">
    <div id="yp-top" class="template-top">
        <div id="yptop-top" class="template-top-top"></div>
        <div id="yptop-bot" class="template-top-bot">
            <div id="yp-tl" class="template-tl">
                <img id="yp-img" class="template-img" src="https://i.pinimg.com/originals/7a/36/b2/7a36b24f8bc4a6b87823e75534fcad19.jpg"/>
            </div>
            <div id="yp-tr" class="template-tr">
                <div id="yp-title" class="template-title">Your Playlists</div>
                <div id="yp-caption" class="template-caption">All of your favorite music. All in one place.</div>
            </div>
        </div>
    </div>

    <div id="yp-playlists-con">
        {%for playlist in my_playlists %}
            {% if playlist.id % 2 == 0 %}
                <div id="yp-playlist-{{playlist.id}}" class="yp-playlist yp-playlist-0">
                <img id="yp-img-{{playlist.id}}" class="yp-img-0 yp-img" src="{{playlist.img}}">
                <div id="yp-text-wrap-{{playlist.id}}" class="yp-text-wrap">
                    <div id="yp-title-{{playlist.id}}" class="yp-title">{{playlist.title}}</div>
                    <div id="yp-desc-{{playlist.id}}" class="yp-desc">{{playlist.description}}</div>
                </div>
                
            {% else %} 
                <div id="yp-playlist-{{playlist.id}}" class="yp-playlist yp-playlist-1">
                <div id="" class="yp-text-wrap">    
                    <div id="yp-title-{{playlist.id}}" class="yp-title">{{playlist.title}}</div>
                    <div id="yp-desc-{{playlist.id}}" class="yp-desc">{{playlist.description}}</div>
                </div>
                <img id="yp-img-{{playlist.id}}" class="yp-img-1 yp-img" src="{{playlist.img}}">
            {% endif %}
            </div>
            
        {%endfor%}
    </div>
</div>

<script src="../../static/js/yp.js"></script>